body {
  @apply antialiased relative bg-gray-200 font-sans;
}

header {
  @apply mb-8;
}

.container {
  @apply max-w-6xl mx-auto px-6;
}

h1 {
  @apply text-center text-gray-900 font-extrabold text-4xl mb-8;
}

ul.examples {
  @apply mt-8 text-2xl mx-auto max-w-xs list-disc;

  li {
    @apply mt-3;

    a {
      @apply underline;
    }
  }
}

.icon {
  fill: currentColor;
}

header {
  section {
    @apply m-4 flex justify-end;
  }

  nav {
    ul {
      @apply flex justify-between;

      li {
        @apply mx-2 text-lg text-gray-700;

        a:hover {
          @apply underline;
        }
      }
    }
  }
}

/* Light */

#light {
  @apply max-w-xl mx-auto text-center;

  button {
    @apply bg-transparent mx-1 py-2 px-4 border border-gray-400 border-2 rounded-lg shadow-sm transition ease-in-out duration-150 outline-none;
  }

  button:hover {
    @apply bg-gray-300;
  }

  img {
    @apply w-10;
  }

  .meter {
    @apply flex h-12 overflow-hidden text-base bg-gray-300 rounded-lg mb-8;
  }

  .meter > span {
    @apply flex flex-col justify-center text-gray-900 text-center whitespace-nowrap bg-yellow-300 font-bold;
    transition: width 2s ease;
  }
}

/* License */

#license {
  @apply max-w-lg mx-auto text-center;

  .card {
    @apply bg-white shadow rounded-lg shadow-lg;

    .content {
      @apply p-6;
    }
  }

  .seats {
    @apply inline-flex items-center mb-8;

    img {
      @apply w-10 pr-2;
    }

    span {
      @apply text-xl font-semibold text-gray-700;
    }
  }

  .amount {
    @apply text-4xl leading-none font-extrabold text-gray-900 mt-4;
  }
}

/* Dashboard */

#dashboard {
  @apply max-w-2xl mx-auto;

  .stats {
    @apply mb-8 rounded-lg bg-white shadow-lg grid grid-cols-3;

    .stat {
      @apply p-6 text-center;

      .name {
        @apply block mt-2 text-lg leading-6 font-medium text-gray-500;
      }

      .value {
        @apply block text-5xl leading-none font-extrabold text-indigo-600;
      }
    }
  }

  button {
    @apply inline-flex items-center px-4 py-2 border border-indigo-300 text-sm shadow-sm leading-6 font-medium rounded-md text-indigo-700 bg-indigo-100 transition ease-in-out duration-150 outline-none;

    img {
      @apply mr-2 h-4 w-4;
    }
  }

  button:active {
    @apply bg-indigo-200;
  }

  button:hover {
    @apply bg-white;
  }

  .controls {
    @apply flex items-center justify-end;

    form {
      @apply flex items-center;

      label {
        @apply uppercase tracking-wide text-indigo-800 text-xs font-semibold mr-2;
      }

      select {
        @apply appearance-none bg-gray-200 border-indigo-300 border text-indigo-700 py-2 px-4 rounded-lg leading-tight font-semibold cursor-pointer mr-2 h-10;
      }

      select:focus {
        @apply outline-none bg-white border-indigo-500;
      }
    }
  }
}

/* Search */

#search {
  @apply max-w-3xl mx-auto text-center;

  form {
    @apply inline-flex items-center;

    input[type="text"] {
      @apply h-10 border border-gray-400 rounded-l-md bg-white px-5 text-base;
    }

    input[type="text"]:focus {
      @apply outline-none;
    }

    input[name*="city"] {
      @apply ml-4;
    }
  }

  button {
    @apply h-10 px-4 py-2 bg-transparent border border-gray-400 border-l-0 rounded-r-md transition ease-in-out duration-150 outline-none;

    img {
      @apply h-4 w-4;
    }
  }

  button:hover {
    @apply bg-gray-300;
  }

  .open {
    @apply inline-flex items-center px-3 py-1 rounded-md text-xs font-medium leading-5 bg-green-200 text-green-800 rounded-full;
  }

  .closed {
    @apply inline-flex items-center px-3 py-1 rounded-md text-xs font-medium leading-5 bg-red-200 text-red-800 rounded-full;
  }

  .stores {
    @apply mt-8 bg-white shadow overflow-hidden rounded-md;

    li {
      @apply border-t border-gray-300 px-6 py-4;

      .first-line {
        @apply flex items-center justify-between;

        .name {
          @apply text-lg leading-5 font-medium text-indigo-600 truncate;
        }

        .status {
          @apply ml-2 flex-shrink-0 flex;
        }
      }

      .second-line {
        @apply mt-2 flex justify-between;

        .street {
          @apply mt-0 flex items-center text-base leading-5 text-gray-400;

          img {
            @apply flex-shrink-0 mr-1 h-5 w-5;
          }
        }

        .phone_number {
          @apply mt-0 flex items-center text-sm leading-5 text-gray-400;

          img {
            @apply flex-shrink-0 mr-2 h-5 w-5;
          }
        }
      }
    }
  }

  .flights {
    @apply mt-8 bg-white shadow overflow-hidden rounded-md;

    li {
      @apply border-t border-gray-300 px-6 py-4;

      .first-line {
        @apply flex items-center justify-between;

        .number {
          @apply text-lg leading-5 font-semibold text-indigo-600 truncate;
        }

        .origin-destination {
          @apply mt-0 flex items-center text-base leading-5 text-indigo-600;

          img {
            @apply flex-shrink-0 mr-1 h-5 w-5;
          }
        }
      }

      .second-line {
        @apply mt-2 flex justify-between;

        .departs {
          @apply text-gray-500;
        }

        .arrives {
          @apply text-gray-500;
        }
      }
    }
  }

  li:hover {
    @apply bg-indigo-100;
  }
}

/* Flights */

.flights {
  @apply mt-8 bg-white shadow overflow-hidden rounded-md;

  li {
    @apply border-t border-gray-300 px-6 py-4;

    &:hover {
      @apply bg-indigo-100;
    }

    .first-line {
      @apply flex items-center justify-between;

      .number {
        @apply text-lg leading-5 font-semibold text-indigo-600 truncate;
      }

      .origin-destination {
        @apply mt-0 flex items-center text-base leading-5 text-indigo-600;

        img {
          @apply flex-shrink-0 mr-1 h-5 w-5;
        }
      }
    }

    .second-line {
      @apply mt-2 flex justify-between;

      .departs {
        @apply text-gray-500;
      }

      .arrives {
        @apply text-gray-500;
      }
    }
  }
}

/* Filter */

#filter {
  .boats {
    @apply flex flex-wrap;
  }

  .card {
    @apply m-6 max-w-sm rounded bg-white overflow-hidden shadow-lg;

    img {
      @apply w-full;
    }

    .content {
      @apply px-6 py-4;
    }

    .model {
      @apply pb-3 text-center text-gray-900 font-bold text-xl;
    }

    .details {
      @apply px-6 mt-2 flex justify-between;
    }

    .price {
      @apply text-gray-700 font-semibold text-xl;
    }

    .type {
      @apply inline-block bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700;
    }
  }

  form {
    @apply max-w-xl mx-auto mb-4;

    .filters {
      @apply flex items-baseline justify-around;

      select {
        @apply appearance-none w-1/3 bg-gray-200 border border-gray-400 text-gray-700 py-3 px-4 rounded-lg leading-tight font-semibold cursor-pointer;
      }

      select:focus {
        @apply outline-none bg-gray-200 border-gray-500;
      }

      .prices {
        @apply flex;

        input[type="checkbox"] {
          @apply opacity-0 fixed w-0;
        }

        input[type="checkbox"]:checked + label {
          @apply bg-indigo-300 border-indigo-500;
        }

        label {
          @apply inline-block border-t border-b border-gray-400 bg-gray-300 py-3 px-4 text-lg font-semibold leading-5;
        }

        label:hover {
          @apply bg-gray-400 cursor-pointer;
        }

        label:first-of-type {
          @apply border-l border-r rounded-l-lg;
        }

        label:last-of-type {
          @apply border-l border-r rounded-r-lg;
        }
      }

      a {
        @apply inline underline text-lg;
      }
    }
  }
}

/* Git Repos */

#repos {
  @apply max-w-3xl mx-auto text-center;

  form {
    @apply inline-flex items-center px-2;

    .filters {
      @apply flex items-baseline;

      select {
        @apply appearance-none bg-gray-200 border border-gray-400 text-gray-700 py-3 px-4 mr-4 rounded-lg leading-tight font-semibold cursor-pointer;
      }

      select:focus {
        @apply outline-none bg-gray-200 border-gray-500;
      }

      a {
        @apply inline underline text-lg;
      }
    }
  }

  .repos {
    @apply mt-8 bg-white shadow overflow-hidden rounded-md;

    li {
      @apply px-6 py-4 border-t border-gray-300;

      .first-line {
        @apply flex items-center justify-between;

        .group {
          @apply font-medium text-lg text-gray-800;

          img {
            @apply mr-1 h-6 w-6 inline;
          }
        }

        button {
          @apply flex items-center py-1 px-3 ml-2 text-base bg-transparent border border-gray-300 font-medium rounded outline-none shadow-sm;

          img {
            @apply mr-1 h-4 w-4 inline;
          }
        }

        button:hover {
          @apply bg-gray-300 border border-gray-400;
        }
      }

      .second-line {
        @apply flex items-center justify-between mt-3;

        .group {
          @apply mt-0 flex items-center;

          img {
            @apply h-4 w-4 inline;
          }
        }

        .language {
          @apply px-3 py-1 rounded-full font-medium text-sm text-gray-600;
        }
        .language.elixir {
          @apply bg-purple-300;
        }
        .language.ruby {
          @apply bg-red-300;
        }

        .license {
          @apply ml-4 mr-4 text-sm font-medium text-gray-600;
        }

        .stars {
          @apply mr-1;
        }
      }
    }
  }
}

/* Live Nav */

#servers {
  @apply flex;

  .sidebar {
    @apply w-48 bg-indigo-800 pt-4 pb-4 text-indigo-300;

    nav {
      @apply flex-1 px-2 bg-indigo-800;

      .active {
        @apply text-white bg-indigo-900;
      }

      .add {
        @apply bg-indigo-600;
      }

      .status {
        @apply h-4 w-4 rounded-full mr-2;
      }

      .status.up {
        @apply bg-green-400;
      }

      .status.down {
        @apply bg-red-400;
      }

      a {
        @apply text-sm leading-5 font-medium flex items-center px-2 py-3 rounded-md mb-2;
      }

      a:hover {
        @apply text-white bg-indigo-900;
      }

      img {
        @apply mr-2 h-6 w-6 text-indigo-400;
      }
    }
  }

  .main {
    @apply flex flex-1;

    .wrapper {
      @apply flex-1 max-w-2xl mr-auto px-6;
    }

    form {
      @apply p-8 border-solid border border-gray-400 rounded-md mb-8;

      .field {
        @apply mb-4;
      }

      label {
        @apply block text-lg font-medium leading-5 text-gray-600 mb-2;
      }

      input[type="text"],
      input[type="number"] {
        @apply w-full appearance-none px-3 py-2 border border-gray-400 rounded-md transition duration-150 ease-in-out text-base leading-5 text-xl;
      }

      input[type="text"]:focus,
      input[type="number"]:focus {
        @apply outline-none border-indigo-300 ring ring-indigo-300;
      }

      button {
        @apply py-2 px-4 border border-transparent font-medium rounded-md text-white bg-indigo-500 outline-none text-lg;
      }

      button:hover {
        @apply bg-indigo-700;
      }

      a.cancel {
        @apply ml-2 py-3 px-4 border border-gray-600 font-medium rounded-md text-gray-600 text-lg;
      }

      a.cancel:hover {
        @apply bg-gray-700 text-white;
      }

      .invalid-feedback {
        @apply mt-1 text-base text-red-600;
      }
    }

    button {
      @apply py-2 px-4 border border-transparent font-medium rounded-md text-white bg-green-500 transition duration-150 ease-in-out outline-none flex-initial text-lg;
    }

    .up {
      @apply px-3 py-1 rounded-md text-xs font-medium leading-5 bg-green-200 text-green-800 rounded-full;
    }

    .down {
      @apply px-3 py-1 rounded-md text-xs font-medium leading-5 bg-red-200 text-red-800 rounded-full;
    }

    .card {
      @apply bg-white shadow overflow-hidden rounded-lg;

      .header {
        @apply px-6 py-5 border-b border-gray-200 flex items-center flex-wrap justify-between;

        h2 {
          @apply text-xl leading-6 font-semibold text-indigo-800;
        }
      }

      .body {
        @apply px-8 py-4;

        h3 {
          @apply mt-8 text-base leading-5 font-medium text-gray-500 mb-2;
        }

        .row {
          @apply flex flex-wrap items-baseline justify-between text-base leading-5 font-medium text-gray-500;
        }

        .deploys {
          @apply flex items-baseline justify-between;

          img {
            @apply mr-3 h-6 w-6 text-indigo-400;
          }
        }

        .repo, .commit {
          @apply text-sm leading-5 text-gray-900;
        }

        blockquote {
          @apply mt-2 p-2 text-base leading-5 border-gray-300 text-gray-700 border-l-4;
        }
      }
    }
  }
}

/* Donations */

#donations {
  @apply max-w-4xl mx-auto;

  .wrapper {
    @apply mb-4 align-middle inline-block min-w-full shadow overflow-hidden rounded-lg border-b border-gray-300;
  }

  a {
    @apply underline text-indigo-500 font-semibold;
  }

  .fresh {
    @apply px-4 py-2 rounded-md text-base font-medium leading-5 bg-green-200 text-green-800 rounded-full;
  }

  .eat-now {
    @apply px-4 py-2 rounded-md text-base font-medium leading-5 bg-red-200 text-red-800 rounded-full;
  }

  table {
    @apply min-w-full;

    th {
      @apply bg-transparent px-6 py-4 border-b border-gray-300 bg-indigo-700 text-base leading-4 font-medium uppercase tracking-wider text-center text-white;

      a {
        @apply no-underline text-white;
      }
    }

    td {
      @apply px-6 py-4 whitespace-nowrap border-b border-gray-300 text-lg leading-5 font-medium text-gray-900 text-center;
    }

    tbody {
      @apply bg-white;
    }

    th.item {
      @apply pl-12 text-left;
    }

    td.item {
      @apply pl-12 font-semibold text-left;
    }

    td .id {
      @apply text-gray-400 -ml-8 mr-4 text-base;
    }
  }

  .footer {
    @apply text-center bg-white max-w-4xl mx-auto text-lg py-8;

    .pagination {
      @apply inline-flex shadow-sm;
    }

    a {
      @apply -ml-px inline-flex items-center px-3 py-2 border border-gray-300 bg-white text-base leading-5 font-medium text-gray-600 no-underline;
    }

    a:hover {
      @apply bg-gray-300;
    }

    a.active {
      @apply bg-indigo-700 text-white;
    }

    a.previous {
      @apply rounded-l-md;
    }

    a.next {
      @apply rounded-r-md;
    }
  }

  form {
    @apply flex items-center justify-end mb-4;

    select {
      @apply appearance-none bg-gray-200 border border-gray-400 text-gray-700 py-1 px-2 rounded-lg leading-tight font-semibold cursor-pointer text-sm mx-1;
    }

    select:focus {
      @apply outline-none bg-gray-200 border-gray-500;
    }
  }
}

/* Volunteer Checkin */

#checkin {
  @apply max-w-3xl mx-auto;

  .volunteer {
    @apply mt-2 border border-gray-300 bg-white rounded px-6 py-4 leading-normal w-full text-lg h-20 grid grid-cols-3 items-center;

    .name {
      @apply text-gray-800 text-indigo-600 font-bold overflow-auto;
      justify-self: start;
    }

    .phone {
      @apply flex items-center font-semibold text-gray-600;
      justify-self: center;

      img {
        @apply flex-shrink-0 mr-2 h-5 w-5;
      }
    }

    .status {
      @apply flex items-center font-bold text-base text-indigo-600 text-center;
      justify-self: end;

      img {
        @apply mr-1 h-6 w-6;
      }

      button {
        @apply bg-indigo-500 text-white font-medium py-2 px-4 rounded outline-none;
      }

      button:hover {
        @apply bg-indigo-700;
      }
    }
  }

  .volunteer.out {
    @apply bg-gray-300;

    button {
      @apply bg-gray-400;
    }
  }

  form {
    @apply px-6 py-4 border-dashed border-2 border-gray-400 mb-8 flex items-baseline justify-around;

    .field {
      @apply flex-1 mr-4;
    }

    input[type="text"],
    input[type="tel"] {
      @apply w-full appearance-none px-3 py-2 border border-gray-400 rounded-md transition duration-150 ease-in-out text-base leading-5 text-xl;
    }

    input[type="text"]:focus,
    input[type="tel"]:focus {
      @apply outline-none border-indigo-300 ring ring-indigo-300;
    }

    button {
      @apply py-2 px-4 border border-transparent font-medium rounded-md text-white bg-green-500 transition duration-150 ease-in-out outline-none flex-initial text-lg;
    }

    button:hover {
      @apply bg-green-700;
    }

    button:focus {
      @apply outline-none border-green-700 ring ring-green-300;
    }

    .invalid-feedback {
      @apply m-0 mt-2 text-sm text-red-600;
    }
  }
}

/* Infinite Scroll */

#infinite-scroll {
  .order {
    @apply flex items-center px-6 py-4 m-6 mx-auto max-w-2xl rounded bg-white overflow-hidden shadow-lg text-gray-700;

    .id {
      @apply inline-flex mr-4 px-4 py-3 rounded-full text-base font-medium leading-4 bg-gray-300 text-gray-800;
    }

    .username {
      @apply text-gray-900 underline;
    }

    .pizza {
      @apply font-bold;
    }
  }

  #footer {
    @apply mt-10 mb-20 text-center text-indigo-700 text-lg;

    button {
      @apply bg-transparent font-semibold py-2 px-4 border border-indigo-500 rounded;
    }

    button:hover {
      @apply bg-indigo-500 text-white border-transparent;
    }
  }
}

/* Sandbox and Quote Components */

#sandbox {
  @apply max-w-xl mx-auto;

  form {
    @apply mx-auto mb-8 p-6 border border-gray-300 rounded-md shadow-lg bg-white text-center;

    .field {
      @apply flex p-2 items-center;
    }

    label {
      @apply flex-1 text-right block text-base font-bold leading-5 text-gray-700 pr-2;
    }

    input[type="number"],
    input[type="text"] {
      @apply flex-1 form-input block w-full min-w-0 rounded-none rounded-md transition duration-150 ease-in-out text-base leading-5;
    }

    .unit {
      @apply ml-2 flex-1 text-left;
    }

    .weight {
      @apply mt-4 block text-base font-semibold leading-5 text-gray-700;
    }

    button {
      @apply py-2 px-4 mt-6 border border-transparent font-semibold text-lg rounded-md text-white bg-green-500 transition duration-150 ease-in-out outline-none;
    }

    button:hover {
      @apply bg-green-700;
    }

    button:focus {
      @apply outline-none border-green-700 ring ring-green-300;
    }
  }
}

/* Auth */

.auth {
  @apply px-6 mt-8 mx-auto w-full max-w-md;

  h3 {
    @apply mt-6 mb-2 text-xl font-bold text-gray-900;
  }
}

form[action="/users/log_in"],
form[action="/users/register"],
form[action="/users/reset_password"],
form[action="/users/confirm"],
form[action="/users/settings"] {
  @apply bg-white px-10 py-8 mb-6 shadow rounded-lg;

  @apply px-6 mt-8 mx-auto w-full max-w-md;

  label {
    @apply block mb-2 text-sm font-medium text-gray-700;
  }

  input[type="email"],
  input[type="password"] {
    @apply mb-4 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md transition duration-150 ease-in-out text-sm;
  }

  input[type="email"]:focus,
  input[type="password"]:focus {
    @apply outline-none ring ring-indigo-300 border-indigo-300;
  }

  .checkbox-field {
    @apply flex items-center mb-4;

    input[type="checkbox"] {
      @apply m-0 h-4 w-4 text-gray-700 transition duration-150 ease-in-out;
    }

    label {
      @apply m-0 ml-2;
    }
  }

  button {
    @apply mt-2 w-full py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 transition duration-150 ease-in-out;
  }

  button:focus {
    @apply outline-none border-indigo-700 ring ring-indigo-300;
  }

  button:active {
    @apply bg-indigo-700;
  }

  button:hover {
    @apply bg-indigo-500;
  }
}

/* Top Secret */

#top-secret {
  @apply flex items-center justify-center py-10;

  img {
    @apply w-40 mr-8;
  }

  .mission {
    @apply text-center;

    h2 {
      @apply text-3xl text-gray-600 mb-2 font-bold;
    }

    h3 {
      @apply text-3xl font-bold mb-2 text-indigo-600;
    }

    p {
      @apply text-3xl text-gray-600 mb-2;
    }
  }
}

/* Incidents */

#incidents {
  @apply max-w-3xl mx-auto;

  .incident {
    @apply flex items-center justify-between mt-2 border-r border-b border-l border-gray-300 border-l-0 border-t bg-white rounded-b rounded-b-none rounded p-4 leading-normal w-full;
  }

  .priority {
    @apply px-4;
  }

  .description {
    @apply flex-1 px-4 text-gray-800 font-bold text-lg;
  }

  .location {
    @apply flex-1 px-4 font-semibold text-lg text-gray-600 text-base;
  }

  .status {
    @apply px-4;
  }

  button {
    @apply bg-indigo-500 text-white font-semibold py-2 px-4 rounded outline-none;

    &:hover {
      @apply bg-indigo-700;
    }
  }

  .resolved {
    @apply text-lg font-bold leading-5 text-indigo-600 bg-transparent text-indigo-600 px-2;
  }

  .priority-1 {
    @apply px-4 py-2 rounded-md text-lg font-bold leading-5 bg-red-500 text-white;
  }

  .priority-2 {
    @apply px-4 py-2 rounded-md text-lg font-bold leading-5 bg-yellow-300 text-white;
  }

  .priority-3 {
    @apply px-4 py-2 rounded-md text-lg font-bold leading-5 bg-yellow-500 text-white;
  }
}

/* New Incident */

#new-incident {
  @apply mx-auto w-full max-w-md;

  .wrapper {
    @apply bg-white py-6 shadow rounded-lg px-10;
  }

  form {
    input[type="text"],
    textarea {
      @apply appearance-none block w-full px-3 py-2 border border-gray-400 rounded-md transition duration-150 ease-in-out text-base leading-5;
    }

    input[type="text"]:focus,
    textarea:focus {
      @apply outline-none border-indigo-300 shadow-none;
    }

    .group:not(:first-of-type) {
      @apply mt-6;
    }

    label {
      @apply block text-sm font-bold leading-5 text-gray-700 mb-1;
    }

    button {
      @apply mt-6 w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600  transition duration-150 ease-in-out outline-none;

      &:hover {
        @apply bg-indigo-500
      }

      &:focus {
        @apply outline-none border-indigo-700 shadow-none;
      }
    }

    .help-block {
      @apply text-yellow-600 mt-4;
    }
  }
}

/* Vehicles */

#vehicles {
  @apply max-w-4xl mx-auto;

  .wrapper {
    @apply mb-4 align-middle inline-block min-w-full shadow overflow-hidden rounded-lg border-b border-gray-300;
  }

  a {
    @apply underline text-indigo-500 font-semibold;
  }

  table {
    @apply min-w-full;

    th {
      @apply bg-transparent px-6 py-4 border-b border-gray-300 bg-indigo-700 text-base leading-4 font-medium uppercase tracking-wider text-center text-white;

      a {
        @apply no-underline text-white;
      }
    }

    td {
      @apply px-6 py-4 whitespace-nowrap border-b border-gray-300 text-lg leading-5 font-medium text-gray-900 text-center;
    }

    tbody {
      @apply bg-white;
    }
  }

  .footer {
    @apply text-center bg-white max-w-4xl mx-auto text-lg py-8;

    .pagination {
      @apply inline-flex shadow-sm;
    }

    a {
      @apply -ml-px inline-flex items-center px-3 py-2 border border-gray-300 bg-white text-base leading-5 font-medium text-gray-600 no-underline;
    }

    a:hover {
      @apply bg-gray-300;
    }

    a.active {
      @apply bg-indigo-700 text-white;
    }

    a.previous {
      @apply rounded-l-md;
    }

    a.next {
      @apply rounded-r-md;
    }
  }

  form {
    @apply flex items-center justify-end mb-4;

    select {
      @apply appearance-none bg-gray-200 border border-gray-400 text-gray-700 py-1 px-2 rounded-lg leading-tight font-semibold cursor-pointer text-sm mx-1;
    }

    select:focus {
      @apply outline-none bg-gray-200 border-gray-500;
    }
  }
}

/* Mapping */

#mapping {
  @apply flex;

  .sidebar {
    @apply w-1/3 overflow-auto;
    height: 650px;

    .incident {
      @apply p-4 border-b border-gray-300 bg-white text-gray-800 font-bold text-base;
    }

    .incident:hover {
      @apply cursor-pointer bg-indigo-200;
    }

    .incident.selected {
      @apply bg-yellow-100;
    }
  }

  .main {
    @apply w-2/3 ml-6;

    #map {
      height: 650px;
    }

    .leaflet-popup-content-wrapper .leaflet-popup-content {
      @apply text-base;
    }

    button {
      @apply mt-6 bg-indigo-500 text-white font-medium py-2 px-4 rounded outline-none;
    }

    button:hover {
      @apply bg-indigo-700;
    }

    button:active {
      @apply bg-indigo-500;
    }
  }
}

/* Key Events */

#key-events {
  @apply max-w-sm mx-auto;

  img {
    @apply border-2 border-gray-300;
  }

  input[type="number"] {
    @apply w-1/4 rounded border border-gray-300 px-3 py-2 text-gray-700 focus:outline-none;
  }

  .status {
    @apply flex items-center mt-4 justify-between text-gray-800 text-lg;
  }
}

/* File Uploads */

#desks {
  @apply max-w-4xl mx-auto;

  form {
    @apply bg-white px-10 py-8 mb-6 shadow rounded-lg mx-auto w-full max-w-xl;

    input[type="text"] {
      @apply mb-4 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md transition duration-150 ease-in-out;
    }

    input[type="text"]:focus {
      @apply outline-none ring ring-indigo-300 border-indigo-300;
    }

    input[type="file"] {
    }

    button {
      @apply mt-4 w-full py-2 px-4 border border-transparent font-medium rounded-md text-white bg-indigo-600 transition duration-150 ease-in-out;
    }

    button:focus {
      @apply outline-none border-indigo-700 ring ring-indigo-300;
    }

    button:active {
      @apply bg-indigo-700;
    }

    button:hover {
      @apply bg-indigo-500;
    }

    .hint {
      @apply my-4 text-gray-600 text-sm;
    }

    .drop {
      @apply flex items-baseline justify-center space-x-1 my-2 p-4 border-2 border-dashed border-gray-300 rounded-md text-center text-gray-600;

      label {
        @apply cursor-pointer font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500;
      }

      p {
        @apply text-sm text-gray-500;
      }

      img {
        @apply mx-auto h-12 w-12;
      }
    }

    .entry {
      @apply my-6 flex items-center justify-start space-x-6;

      img {
        @apply w-32;
      }

      .progress {
        @apply w-full;
      }

      .progress .value {
        @apply text-left mb-2 text-xs font-semibold inline-block text-pink-600;
      }

      .progress .bar {
        @apply flex h-2 overflow-hidden text-base bg-pink-200 rounded-lg mb-4;
      }

      .progress .bar > span {
        @apply shadow-md bg-pink-500;
        transition: width 1s ease;
      }

      a {
        @apply text-3xl font-bold text-gray-700 hover:text-red-700;
      }
    }

    .error {
      color: #a94442;
      display: block;
      margin: 0.5rem 0;
    }
  }

  #photos {
    @apply flex flex-wrap items-center justify-center sm:justify-start;

    .photo {
      @apply text-center p-4 m-4 border-2 border-gray-300 rounded-xl;

      img {
        @apply h-64 sm:h-36 mx-auto object-fill;
      }

      .name {
        @apply mt-2 text-base text-gray-600 font-medium;
      }
    }
  }
}

#underwater {
  @apply max-w-xl mx-auto text-center;

  a.button,
  button {
    @apply inline-block text-base bg-indigo-500 text-white font-medium py-2 px-4 rounded outline-none;
  }

  a.button:hover,
  button:hover {
    @apply bg-indigo-700;
  }

  a.button:focus,
  button:focus {
    @apply outline-none border-indigo-700 ring ring-indigo-300;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  .creatures {
    @apply text-center my-6 text-4xl;
  }
}

/*
 * Copied from Tailwind v1.0
 */

 .form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border-color: #d2d6dc;
  border-width: 1px;
  border-radius: 0.375rem;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}

.form-input::-moz-placeholder {
  color: #9fa6b2;
  opacity: 1;
}

.form-input:-ms-input-placeholder {
  color: #9fa6b2;
  opacity: 1;
}

.form-input::-ms-input-placeholder {
  color: #9fa6b2;
  opacity: 1;
}

.form-input::placeholder {
  color: #9fa6b2;
  opacity: 1;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  border-color: #a4cafe;
}

/*
 * Range Input
 *
 * Generated by:
 * http://danielstern.ca/range.css
 *
 */

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #7f9cf5;
  border-radius: 0px;
  border: 0px solid #7f9cf5;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #4c51bf;
  height: 36px;
  width: 17px;
  border-radius: 35px;
  background: #4c51bf;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #97aef7;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #7f9cf5;
  border-radius: 0px;
  border: 0px solid #7f9cf5;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #4c51bf;
  height: 36px;
  width: 17px;
  border-radius: 35px;
  background: #4c51bf;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #678af3;
  border: 0px solid #7f9cf5;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #7f9cf5;
  border: 0px solid #7f9cf5;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #4c51bf;
  height: 36px;
  width: 17px;
  border-radius: 35px;
  background: #4c51bf;
  cursor: pointer;
  height: 8.4px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #7f9cf5;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #97aef7;
}

/*
 * Loading Spinner
 *
 * Copied from:
 * https://projects.lukehaas.me/css-loaders/
 */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #5a67d8;
  font-size: 10px;
  margin: 20px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
